<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DefectDetail</title>
    <style type="text/css">
        .page-content {
            padding: 40px;
        }
    </style>
</head>
<body>
    <form ng-submit="submitChanges()">
        <div class="form-group">
            <label>Id</label>
            <input type="number" class="form-control" ng-model="defect.id" ng-disabled="true">
        </div>
        <div class="form-group">
            <label>Betreff</label>
            <input type="text" class="form-control" ng-model="defect.title" ng-disabled="true">
        </div>
        <div class="form-group">
            <label>Ersteller</label>
            <input type="text" class="form-control" ng-model="defect.creator.username" ng-disabled="true">
        </div>
        <div class="form-group">
            <label>Erstellt</label>
            <input type="text" class="form-control" ng-model="defect.creationDate" ng-disabled="true">
        </div>
        <div class="form-group">
            <label>Beschreibung</label>
            <textarea type="text" class="form-control" ng-model="defect.description" ng ng-disabled="true"></textarea>
        </div>
        <div class="form-group">
            <label>Status</label>
            <textarea type="text" class="form-control" ng-model="defect.status" ng ng-disabled="true"></textarea>
        </div>
        <hr>
        <div class="form-group">
            <div class="dropdown">
                <select name="dropdownStatus" id="dropdownStatus" ng-model="selectedStatus">
                    <option ng-repeat="status in defectstatus" value="{{status}}">{{status}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Ticket erstellen</button>
            <button class="btn btn-primary" ng-click="switchToHome()">Zurück zur vorherigen Seite</button>
        </div>
    </form>
</body>
</html>