<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DefectDetail</title>
    <style type="text/css">
        .page-content {
            padding: 80px;
        }
        .scrollHistory{
            height: 500px;
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <h1>Ticketbearbeitung</h1>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <form ng-submit="submitChanges()">
                <div class="form-group">
                    <label for="defectDetailId">Id</label>
                    <input type="number"
                           class="form-control"
                           id="defectDetailId"
                           ng-model="defect.id"
                           readonly>
                </div>
                <div class="form-group">
                    <label for ="defectDetailTitle">Betreff</label>
                    <input type="text"
                           class="form-control"
                           id="defectDetailTitle"
                           ng-model="defect.title"
                           readonly>
                </div>
                <div class="form-group">
                    <label for="defectDetailCreator">Ersteller</label>
                    <input type="text"
                           class="form-control"
                           id="defectDetailCreator"
                           ng-model="defect.creator.username"
                           readonly>
                </div>
                <div class="form-group">
                    <label for="defectDetailDate">Erstellt</label>
                    <input type="text"
                           class="form-control"
                           id="defectDetailDate"
                           ng-model="defect.creationDate"
                           readonly>
                </div>
                <div class="form-group">
                    <label for="defectDetailDescription">Beschreibung</label>
                    <textarea type="text"
                              class="form-control"
                              id="defectDetailDescription"
                              ng-model="defect.description"
                              readonly></textarea>
                </div>
                <div class="form-group">
                    <label for="defectDetailStatus">Status</label>
                    <input type="text"
                           class="form-control"
                           id="defectDetailStatus"
                           ng-model="defect.status"
                           readonly>
                </div>
                <hr>
                <div class="btn-group">
                    <button type="button"
                            class="btn btn-warning"
                            ng-if="openDefect"
                            ng-click="editDefect('open')">
                        Ticket auf Bearbeitung setzen
                    </button>
                    <button type="button"
                            class="btn btn-success"
                            ng-if="closeDefect"
                            ng-click="editDefect('close')">
                        Ticket Bearbeitung abschließen
                    </button>
                    <button type="button"
                            class="btn btn-danger"
                            ng-if="reopenDefect"
                            ng-click="editDefect('reopen')">
                        Ticket wiedereröffnen oder schließen
                    </button>
                    <button class="btn btn-primary"
                            ng-click="switchToHome()">
                        Zurück zur vorherigen Seite
                    </button>
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <h4>Verlauf des Tickets</h4>
            <hr>
            <div class="form-group scrollHistory">
                <div class="form-group"
                     ng-repeat="change in previousChanges">
                    <p>Bearbeiter: {{change.editor.username}}</p>
                    <p>Geändert: {{change.changeTime}}</p>
                    <p>Ticket von {{change.previousStatus}} auf {{change.newStatus}} gesetzt.</p>
                    <textarea class="form-control"
                              readonly>
                        {{change.comment}}
                    </textarea>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</body>
</html>