<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Defects</title>

    <style type="text/css">

        .page-content{
            padding: 40px;
        }

    </style>
</head>
<body>
<div class="btn-group">
    <button type="button"
            class="btn btn-primary"
            ng-click="createDefect()">
        Ticket erstellen
    </button>
    <button type="button"
            class="btn btn-info"
            ng-click="hideClosedDefects()"
            ng-if="excludeClosed === false">
        Geschlossene Tickets ausblenden
    </button>
    <button type="button"
            class="btn btn-info"
            ng-click="showClosedDefects()"
            ng-if="excludeClosed">
        Geschlossene Tickets einblenden
    </button>
</div>
<div>
    <table datatable="ng" class="table row-border hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Beschreibung</th>
            <th>Erstellungsdatum</th>
            <th>Autor</th>
            <th>Status</th>
            <th>Aktion</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="defect in defects">
            <td>{{ defect.id }}</td>
            <td>{{ defect.title }}</td>
            <td>{{ defect.description }}</td>
            <td>{{ defect.creationDate }}</td>
            <td>{{ defect.creator.username }}</td>
            <td>{{ defect.status }}</td>
            <td><button class="btn btn-success" ng-click="switchToDetails(defect)">Bearbeiten</button> </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>